@model Bapr.Models.Location

@{
    ViewBag.Title = "Menu";
}

<div id="tabs">
    <ul>
        <li><a href="#search">Search</a></li>
    </ul>
    <div id="search">
        <div class="btnsSearch">
            <button id="btnGetFavourites" type="button" class="btn btn-danger btn-lg" data-action="@Url.Action("GetFavouritedPlaces", "Bapr")">Favourites</button>
            <button id="btnGetVisited" type="button" class="btn btn-danger btn-lg" data-action="@Url.Action("GetVisitedPlaces", "Bapr")">Visited</button>
        </div>
        <br />
        <div id="searchTextFree">
            <input id="userSearchText" type="text" placeholder="Search" class="form-control">
            <input id="getPlacesByTextBtn" type="button" value="Search" data-action="@Url.Action("GetPlacesByText", "Bapr")">
        </div>
        <br />

        <select class="form-control searchCategory" id="placeCategory" data-action="@Url.Action("GetPlacesByCategory", "Bapr")">
            <option value="Empty">Select a category</option>
            <option value="Restaurants" itemscope itemtype="https://schema.org/Restaurant">Restaurants</option>
            <option value="Museums" itemscope itemtype="https://schema.org/Museum">Museums</option>
            <option value="Hotels" itemscope itemtype="https://schema.org/Hotel">Hotels</option>
            <option value="Hospitals" itemscope itemtype="https://schema.org/Hospital">Hospitals</option>

        </select>
    </div>
    <div id="locationDetails"> </div>
</div>
<div id="map"></div>

<div hidden class="geo" id="#userCoordinates">
    <abbr class="latitude" hidden title="@Model.latitude"></abbr>
    <abbr class="longitude" hidden title="@Model.longitude"></abbr>
</div>
<script>
    function startMap() {
        initMap(@Model.latitude, @Model.longitude);
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0D3HknFGgJKip1hbsPjP6SGcoYcFGnfY&signed_in=true&callback=startMap"></script>

