@model Bapr.Models.Location

@{
    ViewBag.Title = "Menu";
}
<div class="btnsSearch">
    <button id="btnGetFavourites" type="button" class="btn btn-danger btn-lg" data-action="@Url.Action("GetFavouritedPlaces","Bapr")">Favourites</button>
    <button id="btnGetVisited" type="button" class="btn btn-danger btn-lg" data-action="@Url.Action("GetVisitedPlaces", "Bapr")">Visited</button>
</div>

<div id="searchTextFree">
    <input id="userSearchText" type="text" placeholder="Search">
    <input id="getPlacesByTextBtn" type="button" value="Search" data-action ="@Url.Action("GetPlacesByText","Bapr")" >
</div>

<div>

    <select class="form-control searchCategory" id="placeCategory" data-action="@Url.Action("GetPlacesByCategory","Bapr")">
        <option value="Empty">Select a category</option>
        <option value="Restaurants">Restaurants</option>
        <option value="Museums">Museums</option>
        <option value="Hotels">Hotels</option>
        <option value="Hospitals">Hospitals</option>

    </select>
</div>

    <div id="map"></div>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0D3HknFGgJKip1hbsPjP6SGcoYcFGnfY&signed_in=true&callback=startMap"></script>
<script>
    function startMap() {
        initMap(@Model.latitude, @Model.longitude);
    }

</script>