@model Bapr.Models.UserPreference

@{
    ViewBag.Title = "User Preferences";
}

<h2>User Preferences</h2>
<p>@ViewBag.result </p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.MaxBudget, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxBudget, additionalViewData: new { htmlAttributes = new { min = 1, max = long.MaxValue } })
                @Html.ValidationMessageFor(model => model.MaxBudget)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOfDays, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfDays, additionalViewData: new { htmlAttributes = new { min = 1, max = Int32.MaxValue} })
                @Html.ValidationMessageFor(model => model.NoOfDays)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NeedMedicalSupport, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NeedMedicalSupport)
                @Html.ValidationMessageFor(model => model.NeedMedicalSupport)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Interests, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxListFor(x=>x.SelectedInterests, x=>x.Interests, x=>x.Name, x=>x.Name, x=>x.Checked, MvcCheckBoxList.Model.Position.Vertical)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cuisine, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxListFor(x => x.SelectedCuisine, x => x.Cuisine, x => x.Name, x => x.Name, x => x.Checked, MvcCheckBoxList.Model.Position.Vertical)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Preferences" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to Home", "Index", "Bapr")
</div>